body {
    font-family: 'Montserrat', sans-serif;
}
.titulo-principal{
    position: relative;
    width: 600px;
    margin: 30px auto;
    font-size: 30px;    
    font-weight: bold;
    margin-top: 60px;
}

.subtitulo{	
	font-weight: bold;
	color: #737374;
	font-size: 18px;
    margin: 0 0 40px;
}

.faixa-dois{
background: # ffffff;
height: 80px;

}
.logo{
	
}

.logo_index{
	margin-left: 559px;
	margin-top: 15px
}

.seta{
	margin-right: 1px;
	cursor: pointer;
}

.faixa {
    background: #dfdfdf;
    padding: 3px 0;
}
.cabeçalho {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.main_formato{
    width: 550px;
    margin: 0 auto;

}



form label{
display: block;
font-size: 15px;
margin: 30px 0 10px


}

.formulario{
	margin: 40px auto;	

}
.enviar {
    width:500px;
    padding: 5px 0;
    background: #ea1d2c;
    color: white;    
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 40px 0px;
}



.background {
	background-image: url("../Imagem/fundo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top 20px;
  
}
.faixa{
	background: # ffffff;	
}



.cadastro {
	margin-right: 10%; 
    text-align: center;
    width: 33%;
    vertical-align: top;
    margin-top: 2%;
    height: 550px;
    box-sizing: border-box;
    border: 1px solid #968f85;  
    background-color: #ffffff;
}

form input{
	width: 350px;
	height: 40px;
}

.titulo-principal-cadastro{
	 font-size: 30px;    
    font-weight: bold;
    margin: 20px;

}

.cadastrar-agora{	
	width:45%;
	margin: 60px 5px;
    padding: 5px 0;
    background: #ea1d2c;
    color: white;    
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 50px 265px;

}

.radio-container{
    display: inline-block;
    margin: 20px;

}

.planos{
    display: inline-flex;
}

.plano_basico{
    width: 300px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
    cursor: pointer;
    }


.plano_basico:hover {
    border-color: #ea1d2c;
    }

.plano_entrega{
    width: 300px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
    border-radius: 10px;
    cursor: pointer;
}

.plano_entrega:hover {
    border-color: #ea1d2c;
    }

.principal_planos{
    margin-left: 700px;
}

.faixa-indice{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
background: #dfdfdf;

}

.indice2{
    cursor: pointer;

}

.indice9{
    cursor: pointer;

}

.indice12{
    cursor: pointer;

}

.indice2:hover{
    color:#ea1d2c ;
}

.indice9:hover{
    color:#ea1d2c ;
}

.indice12:hover{
    color:#ea1d2c ;
}

.main_formato_recadastro{

   
    margin: 20px 400px;
}
